POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me-in-production
POSTGRES_SERVER=localhost
POSTGRES_DB=tempus_db

# App
# Use at least 32 chars. Example command: openssl rand -hex 32
SECRET_KEY=replace-with-a-random-secret-at-least-32-chars
JWT_AUDIENCE=tempus-app
ENVIRONMENT=local
