POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_SERVER=localhost
POSTGRES_DB=lex_mx_db

# LLM Config
LLM_API_KEY=sk-tu-clave-aqui
EMBEDDING_MODEL=text-embedding-3-small

# Qdrant Config
QDRANT_HOST=localhost
QDRANT_PORT=6333

# App
SECRET_KEY=super-secreto-temporal
ENVIRONMENT=local
